doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Real Madrid FC

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Simulasi Pembuatan SIM C
        <img src ="../gambar2.jpg" class="gambar2">
        div.align-left
          br
          br
          p Kelompok : AAR TEAM
          ul.nostyle
            li.align-left
              strong.white 
            li.align-left
              strong.white Muhammad Riski Rambe
              |  - 12.111.1567
            li.align-left
              strong.white Awaluddin Sagala
              |  - 12.111.1745
            li.align-left
              strong.white Alfonso Daniel
              |  - 12.111.2589

      section
        h2 Jenis jenis SIM
        div.align-left
          ul.nostyle
            li.align-left
              strong.white
            li.align-left
              strong.white 1. Surat Izin Mengemudi Kendaraan Bermotor Perseorangan
            li.align-left
              strong.white 2. Surat Izin Mengemudi Kendaraan Bermotor Umum

      section
        h2 Golongan SIM Perseorangan
        div.align-left
          ul.nostyle
            li.align-left
              strong.white 
            li.align-left
              strong.white 1. SIM A
                |  - untuk mengemudikan mobil penumpang dan perserorangan
            li.align-left
              strong.white 2. SIM B
                |  - untuk mengemudikan mobil penumpang dan barang perseorangan
            li.align-left
              strong.white 3. SIM B2
                |  - untuk mengemudikan Kendaraan alat berat, Kendaraan penarik, atau Kendaraan Bermotor dengan menarik kereta tempelan
            li.align-left
              strong.white 4. SIM C
                |  - untuk mengemudikan Sepeda Motor
            li.align-left
              strong.white 5. SIM D
                |  - untuk mengemudikan kendaraan khusus bagi penyandang cacat

      section
        h2 Golongan SIM Umum
        div.align-left
          ul.nostyle
            li.align-left
              strong.white 
            li.align-left
              strong.white 1. SIM A Umum
                |  - untuk mengemudikan kendaraan bermotor umum dan barang
            li.align-left
              strong.white 2. SIM B Umum
                |  - untuk mengemudikan mobil penumpang dan barang umum
            li.align-left
              strong.white 3. SIM B2 Umum
                |  -  untuk mengemudikan Kendaraan penarik atau Kendaraan Bermotor dengan menarik kereta tempelan atau gandengan

      section
        h2 Simulasi Pembuatan SIM C
        div.align-left
          br
          p Simulasi pembuatan SIM C merupakan sebuah game sederhana yang memberikan sebuah pengetahuan tentang tata cara pembuatan SIM C. Simulasi ini bukan merupakan test drive, tetapi hanya untuk membantu masyarakat yang belum mengetahui cara membuat SIM C.

      section
        h2 Tujuan
        div.align-left
          ul.nostyle
            li.align-left
              strong.white 
            li.align-left
              strong.white 1. Mendapatkan gambaran secara global mengenai cara membuat sim resmi
            li.align-left
              strong.white 2. Memberikan pemahaman tentang membuat sim baru
            li.align-left
              strong.white 3. memberikan gambaran umum tentang tahapan – tahapan dan syarat- syarat membuat SIM C

      section
        h2 Tools yang digunakan
        div.align-left
          br
          p RPG VX Maker ACE

      section
        h2 Persyaratan Pembuatan SIM
        div.align-left
          h3 A. Usia
          ul.nostyle
            li.align-left
              strong.white
            li.align-left
              strong.white 1. SIM A Pemohon Usia 18 tahun
            li.align-left
              strong.white 2. SIM B I dan B II pemohon 20 tahun
            li.align-left
              strong.white 3. SIM C dan D pemohon 17 tahun
            li.align-left
              strong.white 4. SIM Umum pemohon usia 21 tahun
          h3 B. Pas Photo
          h3 C. KTP Asli & Foto Copy 4 lembar

      section
        h2 Biaya Pembuatan SIM
        div.align-left
          p Sesuai dengan Peraturan Pemerintah No. 50 Tahun 2010 tentang PNBP pada Polri, biaya pembuatan SIM baru adalah sebagai berikut:
          ul.nostyle
            li.align-left
              strong.white
            li.align-left
              strong.white 1. SIM A: Rp120.000
            li.align-left
              strong.white 2. SIM B1 & B2: Rp120.000
            li.align-left
              strong.white 3. SIM C: Rp100.000
            li.align-left
              strong.white 4. SIM D: Rp50.000
          p Biaya Tambahan:
          ul.nostyle
            li.align-left
              strong.white
            li.align-left
              strong.white 1. Asuransi Rp30.000
            li.align-left
              strong.white 2. Biaya Surat Keterangan Uji Klinik Pengemudi (SKUKP) untuk SIM B1, B2, dan SIM Umum Rp50.000








    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild